version: 2
updates:
- package-ecosystem: "cargo"
  directory: "/"
  target-branch: "develop"
  schedule:
    interval: "weekly"
  commit-message:
    prefix: "chore"
  groups:
    dependencies:
      patterns:
      - "*"
