name: Deploy
inputs:
  deployment-package-token:
    type: string
    required: true
    description: "Github PAT for accessing the deployment repo"
  github-token:
    type: string
    required: true
    description: "Github Actions token"
  deployment-stage:
    type: choice
    required: true
    description: "The environment to install the systemd services into"
    options: ["release", "beta"]
runs:
  using: 'composite'
  steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: almostprohibited/deployment
        ref: main
        token: ${{ inputs.deployment-package-token }}
        path: ./.deployment
    - name: Login to ghcr.io
      run: echo ${{ inputs.github-token }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      shell: bash
    - name: Update and deploy MongoDB
      if: inputs.deployment-stage == 'release'
      run: |
        set -ueo pipefail

        cd ./.deployment/backend

        docker compose -f docker-compose.yaml pull mongo mongo-express
        docker compose -f docker-compose.yaml down mongo mongo-express
        docker compose -f docker-compose.yaml up -d mongo mongo-express
      shell: bash
    - name: Update and deploy backend
      run: |
        set -ueo pipefail
        
        cd ./.deployment/backend

        docker compose -f docker-compose.yaml pull backend-${{ inputs.deployment-stage }}
        docker compose -f docker-compose.yaml down backend-${{ inputs.deployment-stage }}
        docker compose -f docker-compose.yaml up -d backend-${{ inputs.deployment-stage }}
      shell: bash
    - name: Clean images
      run: docker image prune -f
      shell: bash
