name: Deploy

inputs:
  toolbox-package-token:
    type: string
    required: true
    description: "Github PAT for accessing the toolbox repo"
  github-token:
    type: string
    required: true
    description: "Github Actions token"
  deployment-stage:
    type: choice
    required: true
    description: "The environment to install the systemd services into"
    options: ["release", "beta"]
  docker-volume-path:
    type: string
    required: true
    description: "Path on machine to Docker mounts"
  discord-contact-webhook-url:
    type: string
    required: true
    description: "Discord webhook URL for contact function"
  discord-indexer-webhook-url:
    type: string
    required: true
    description: "Discord webhook URL for indexing function"
  cloudflare-turnstile-secret-key:
    type: string
    required: true
    description: "Cloudflare Turnstile secret key"

runs:
  using: 'composite'
  steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: almostprohibited/toolbox
        ref: main
        token: ${{ inputs.toolbox-package-token }}
        path: ./.toolbox
    - name: Login to ghcr.io
      run: echo ${{ inputs.github-token }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      shell: bash
    - name: Update and deploy MongoDB
      if: inputs.deployment-stage == 'release'
      run: |
        set -ueo pipefail

        cd ./.toolbox/backend

        export VOLUME_PATH=${{ inputs.docker-volume-path }}

        mkdir -p $VOLUME_PATH/prometheus
        touch $VOLUME_PATH/prometheus/prometheus.yml || true

        docker compose -f docker-compose.yaml pull mongo mongo-express prometheus grafana
        docker compose -f docker-compose.yaml down mongo mongo-express prometheus grafana
        docker compose -f docker-compose.yaml up -d mongo mongo-express prometheus grafana
      shell: bash
    - name: Update and deploy backend
      run: |
        set -ueo pipefail
        
        cd ./.toolbox/backend

        export VOLUME_PATH=${{ inputs.docker-volume-path }}
        export STAGE=${{ inputs.deployment-stage }}
        export DISCORD_CONTACT_WEBHOOK_URL=${{ inputs.discord-contact-webhook-url }}
        export DISCORD_INDEXER_WEBHOOK_URL=${{ inputs.discord-indexer-webhook-url }}
        export CLOUDFLARE_TURNSTILE_SECRET_KEY=${{ inputs.cloudflare-turnstile-secret-key }}

        docker compose -f docker-compose.yaml pull backend-${{ inputs.deployment-stage }}
        docker compose -f docker-compose.yaml down backend-${{ inputs.deployment-stage }}
        docker compose -f docker-compose.yaml up -d backend-${{ inputs.deployment-stage }}
      shell: bash
    - name: Clean images
      run: docker image prune -f
      shell: bash
