name: Deploy
inputs:
  binary-path:
    type: string
    required: true
    description: "The path on the machine to where the binaries should be installed"
  api-port:
    type: string
    required: true
    description: "The port to launch the API on"
  stage:
    type: choice
    required: true
    description: "The environment to install the systemd services into"
    options: ["release", "beta"]
  token:
    type: string
    required: true
    description: "Github PAT for accessing the deployment repo"
runs:
  using: 'composite'
  steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: almostprohibited/deployment
        ref: main
        token: ${{ inputs.token }}
        path: ./.deployment
    - name: Deploy Docker containers
      if: inputs.stage == 'release'
      run: |
        set -ueo pipefail

        mkdir -p ${{ inputs.binary-path }}
        mv .deployment/backend/docker-compose.yaml ${{ inputs.binary-path }}

        docker compose down
        docker compose pull
        docker compose up -d
        docker image prune -f
      shell: bash
    - name: Deploy API service
      run: |
        set -ueo pipefail

        echo "Stopping API service"
        sudo systemctl stop almostprohibited-backend-api-${{ inputs.stage }}.service || true

        echo "Replacing service definition file"
        sed -i -e "s|{binary_path}|${{ inputs.binary-path }}|g" .deployment/backend/almostprohibited-backend-api.service
        sed -i -e "s|{api_port}|${{ inputs.api-port }}|g" .deployment/backend/almostprohibited-backend-api.service
        sudo cp .deployment/backend/almostprohibited-backend-api.service /etc/systemd/system/almostprohibited-backend-api-${{ inputs.stage }}.service
        
        sudo systemctl daemon-reload

        echo "Starting API service"
        sudo systemctl enable --now almostprohibited-backend-api-${{ inputs.stage }}.service
      shell: bash
    - name: Deploy indexer service
      if: inputs.stage == 'release'
      run: |
        set -ueo pipefail

        echo "Stopping indexer service"
        sudo systemctl stop almostprohibited-backend-indexer-${{ inputs.stage }}.timer || true

        echo "Resetting service state"
        sudo systemctl reset-failed almostprohibited-backend-indexer-${{ inputs.stage }}.service || true

        echo "Replacing service definition file"
        sed -i -e "s|{binary_path}|${{ inputs.binary-path }}|g" .deployment/backend/almostprohibited-backend-indexer.service
        sudo cp .deployment/backend/almostprohibited-backend-indexer.service /etc/systemd/system/almostprohibited-backend-indexer-${{ inputs.stage }}.service
        sudo cp .deployment/backend/almostprohibited-backend-indexer.timer /etc/systemd/system/almostprohibited-backend-indexer-${{ inputs.stage }}.timer

        sudo systemctl daemon-reload

        echo "Enabling indexer timer"
        sudo systemctl enable almostprohibited-backend-indexer-${{ inputs.stage }}.timer
      shell: bash
