name: Publish (beta)

on:
  push:
    branches: [develop]
  workflow_dispatch:

env:
  STAGE: "beta"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
  package:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Package
        uses: ./.github/actions/package
        with:
          artifact-id: ${{ steps.build.outputs.artifact-id }}
          deployment-package-token: ${{ secrets.DEPLOYMENT_ACCESS }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deployment-stage: ${{ env.STAGE }}
  deploy:
    needs: [package]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: ./.github/actions/deploy
        with:
          deployment-package-token: ${{ secrets.DEPLOYMENT_ACCESS }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deployment-stage: ${{ env.STAGE }}
          docker-volume-path: ${{ vars.VOLUME_PATH }}
