name: Publish
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Build
        run: |
          cargo build --profile release --bins

          mkdir -p /home/ubuntu/almostprohibited/backend
          mv target/release/api /home/ubuntu/almostprohibited/backend
          mv target/release/indexer /home/ubuntu/almostprohibited/backend
  deploy:
    needs: [build]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          repository: almostprohibited/deployment
          ref: main
          token: ${{ secrets.DEPLOYMENT_ACCESS }}
      - name: Deploy Docker containers
        run: |
          mkdir -p /home/ubuntu/almostprohibited/backend
          mv backend/docker-compose.yaml /home/ubuntu/almostprohibited/backend

          docker compose down
          docker compose pull
          docker compose up -d
          docker image prune -f
      - name: Deploy services
        run: |
          sudo systemctl stop almostprohibited-backend-api.service || true
          sudo systemctl stop almostprohibited-backend-indexer.timer || true

          sudo cp backend/almostprohibited-backend-api.service /etc/systemd/system
          sudo cp backend/almostprohibited-backend-indexer.service /etc/systemd/system
          sudo cp backend/almostprohibited-backend-indexer.timer /etc/systemd/system

          sudo systemctl daemon-reload

          sudo systemctl enable --now almostprohibited-backend-api.service
          sudo systemctl enable --now almostprohibited-backend-indexer.timer
