name: Publish (release)

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  STAGE: "release"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
  package:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Package
        uses: ./.github/actions/package
        with:
          artifact-id: ${{ steps.build.outputs.artifact-id }}
          toolbox-package-token: ${{ secrets.DEPLOYMENT_ACCESS }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deployment-stage: ${{ env.STAGE }}
  deploy:
    needs: [package]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: ./.github/actions/deploy
        with:
          toolbox-package-token: ${{ secrets.DEPLOYMENT_ACCESS }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deployment-stage: ${{ env.STAGE }}
          docker-volume-path: ${{ vars.VOLUME_PATH }}
          discord-contact-webhook-url: ${{ secrets.DISCORD_CONTACT_WEBHOOK_URL }}
          discord-indexer-webhook-url: ${{ secrets.DISCORD_INDEXER_WEBHOOK_URL }}
          cloudflare-turnstile-secret-key: ${{ secrets.CLOUDFLARE_TURNSTILE_SECRET_KEY }}
