name: Publish (release)
on:
  push:
    branches: [main]
  workflow_dispatch:
env:
  STAGE: "release"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
        with:
          deployment-package-token: ${{ secrets.DEPLOYMENT_ACCESS }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deployment-stage: ${{ env.STAGE }}
  deploy:
    needs: [build]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: ./.github/actions/deploy
        with:
          deployment-package-token: ${{ secrets.DEPLOYMENT_ACCESS }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deployment-stage: ${{ env.STAGE }}
          docker-volume-path: ${{ vars.VOLUME_PATH }}
